<% provide(:title, "Test") %> 
<h1> 
  <%= @register.subject.context_display %> 
</h1> 
<%= form_for (@register) do |f| %> 
  <%= f.hidden_field :id %>
<div class="register_edit"> 
<% @register.answer_sheets.each do |answer_sheet| %> 
      <span><%= answer_sheet.question.context_question %></span> 
      <ul> 
        <%= f.fields_for :answer_sheets,  answer_sheet do |build| %> 
          <% answer_sheet.answers.each do |answer|%> 
            <li> 
              <%= build.radio_button :answer_id, answer.id, checked: true%> 
              <%= answer.answer %> 
            </li> 
          <% end %> 
        <% end %> 
      </ul> 
      
    <% end %> 
  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %> 
</div> 
<% end %>