<% provide(:title, 'All register') %>
<h1>All register</h1>
<div class="registed">
  <ul>
    <% @registers.each do |register| %>
      <li>
        <% if !register.start? %>
            <span><%= register.subject.context_display if  register.subject %></span>
            <span>Test</span>
            <span>00:00:00</span>
            <span><%= link_to "Start", edit_register_path(register) %></span>
        <% elsif !register.finish? %>
            <span>
              <h3><%= DateTime.parse(register.date_test.to_s).strftime("%d/%m/%Y %H:%M:%S") %></h3>
            </span>
            <span>Testing</span>
            <span> </span>
            <span> </span>
        <% else %>
            <span>
              <%= register.subject.context_display if register.subject%>
            </span>
            <span>Checked</span>
            <span><h4><%= register.count_correct %>/<%= register.subject.count_question if register.subject%></h4></span>
            <span><%= link_to "View", register_path(register) %></span>
        <% end%>
        <span>
          <%= link_to "check", edit_register_admin_path(register) %>
        </span>
        <span>
          <%= link_to "delete", register, method: :delete,
                                  data: { confirm: "You sure?" } %>
        </span>
      </li>
    <% end %>
  </ul>
</div>